{%- set camel_case_name = (project_name | regex_replace('(-|\s+|_)', ' ')).split(' ') | map('capitalize') | join('') -%}
import {
  describe, test, expect, beforeAll, beforeEach
} from '@jest/globals';
import * as algokit from '@algorandfoundation/algokit-utils';
import algosdk from 'algosdk';
import { algorandFixture } from '@algorandfoundation/algokit-utils/testing';
import { {{ camel_case_name }}Client } from '../contracts/clients/{{ camel_case_name }}Client';

const fixture = algorandFixture();

let myApp: {{ camel_case_name }}Client;

describe('{{ camel_case_name }}', () => {
  beforeEach(fixture.beforeEach);

  beforeAll(async () => {
    await fixture.beforeEach();
    const { algod, kmd } = fixture.context;
    const sender = algosdk.generateAccount();

    await algokit.ensureFunded(
      {
        accountToFund: sender,
        minSpendingBalance: algokit.algos(1),
      },
      algod,
      kmd,
    );

    myApp = new {{ camel_case_name }}Client(
      {
        sender: { signer: algosdk.makeBasicAccountTransactionSigner(sender), addr: sender.addr },
        resolveBy: 'id',
        id: 0,
      },
      algod,
    );

    await myApp.create.bare();
  });

  test('sum', async () => {
    const a = 13;
    const b = 37;
    const sum = await myApp.doMath({ a, b, operation: 'sum' });
    expect(sum.return?.valueOf()).toBe(BigInt(a + b));
  });

  test('difference', async () => {
    const a = 13;
    const b = 37;
    const diff = await myApp.doMath({ a, b, operation: 'difference' });
    expect(diff.return?.valueOf()).toBe(BigInt(a >= b ? a - b : b - a));
  });
});
